<!-- Request Form -->
<section id="requestForm">
    <div class="container">

        <header class="text-center mb-60">
            <h2>Request a quote</h2>
            <p class="lead font-lato">Rocket Elevator at your service 24h , 7 days a week.</p>
            <hr />
        </header>


        <div class="row">

            <!-- FORM -->
            <div class="col-md-8 col-sm-8">

                <h3>Let us know more about your project below:<strong></strong></h3>

                <%= render 'form' %>

            </div>
            <!-- /FORM -->

        

        </div>

    </div>
</section>
<!-- /CONTACT -->
